<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Cuisine Update</title>
  </head>
  <body>
    <div class="container">
      <a href="/">Return Home</a><br>
      @{
        if(Model!=null)
        {
          <h1>Cuisine: @Model["cuisine"].GetName()</h1>
          <form class="" action="/Cuisine/Update/@Model["cuisine"].GetId()" method="post">
            <input type="text" name="name">
            <button type="Submit" name="button">Update Cuisine Name</button>
          </form>
          <h2>All Restaurants in @Model["cuisine"].GetName():</h2>
          foreach(var item in Model["restaurants"])
          {
            <h3>@item.GetName()</h3>
          }
        }
      }
    </div>
  </body>
</html>
